@font-face {
  font-family: "Pretendard-Black";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

h1.title {
  font-size: 2.5em;
  text-align: center;
  font-family: "Pretendard-Bold", sans-serif !important;
  margin-top: 1.5em;
}

h2.title {
  font-size: 1.8em;
  font-family: "Pretendard-Bold", sans-serif !important;
}

h3.title {
  font-size: 1.5em;
  font-family: "Pretendard-Bold", sans-serif !important;
}

h4.title {
  font-size: 1.2em;
}

.font-black {
  font-family: "Pretendard-Black", sans-serif !important;
}

.font-bold {
  font-family: "Pretendard-Bold", sans-serif !important;
}

.font-light {
  font-family: "Pretendard-Light", sans-serif !important;
}
