extends ../layouts/default.pug

block content
  //- 상단 이미지
  include ../mixin/sub_hero.pug
  +sub_hero('Contact')

  //- 본문
  main
    section.contact  
      iframe.map(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d664.6840047114702!2d127.05870687566305!3d37.58361443381396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sko!2skr!4v1738558440093!5m2!1sko!2skr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")

      .contact__info
        .contact__info__item
          i.fa.fa-map-marker-alt
          span
            | 163 Seoulsiripdaero #15-516, Dongdaemun-Gu, Seoul, Korea 02504
        .contact__info__item
          i.fa.fa-phone
          span
            | 02-6490-2885
        .contact__info__item
          i.fa.fa-envelope
          span
            | hmokoo@uos.ac.kr