extends ../layouts/default.pug

block content
  //- 상단 이미지
  include ../mixin/sub_hero.pug
  +sub_hero('Gallery')

  //- 본문
  main
    section.gallery-container
        h1.title Gallery
        include ../components/board.pug
        .gallery__list-container