extends ../layouts/default.pug

block content
  section.hero-container
    img.hero-image(src="./images/representative_image.jpg", alt="커다란 이미지")
    .hero-text
      .hero-text__main.font-black
        .hero-text__main 공간데이터과학 연구실
      .hero-text__sub.font-bold
        | The Lab for Spatial Data Science
  main
    section.hero-container__content
      .hero-container__content-item
        p
          | 서울시립대학교 공간데이터과학 연구실에 오신 것을 환영니다.
        p
          | 서울시립대학교 공간데이터과학 연구실에 오신 것을 환영니다.서울시립대학교 공간데이터과학 연구실에 오신 것을 환영니다.서울시립대학교 공간데이터과학 연구실에 오신 것을 환영니다.
        p
          | 서울시립대학교 공간데이터과학 연구실에 오신 것을 환영니다.서울시립대학교 공간데이터과학 연구실에 오신 것을 환영니다.
      .hero-container__content-item
        p
          | Welcome to the lab for spatial data science at UOS.
        p
          | Welcome to the lab for spatial data science at UOS.Welcome to the lab for spatial data science at UOS.Welcome to the lab for spatial data science at UOS.
        p
          | Welcome to the lab for spatial data science at UOS.Welcome to the lab for spatial data science at UOS.

    section.news-notice-container
      h1.news-notice-title.font-bold News & Notice
      .news-container

  section.contact-container
    .contact-content
      h2.contact-title.font-bold Contact us
      p.contact-content__description.font-light
        | hmokoo@uos.ac.kr으로 연락주세요~! hmokoo@uos.ac.kr으로 연락주세요~!hmokoo@uos.ac.kr으로 연락주세요~!hmokoo@uos.ac.kr으로 연락주세요~!hmokoo@uos.ac.kr으로 연락주세요~!hmokoo@uos.ac.kr으로 연락주세요~!hmokoo@uos.ac.kr으로 연락주세요~!hmokoo@uos.ac.kr으로 연락주세요~!
      p.contact-content__description.font-light
        | Feel free to contact us(hmokoo@uos.ac.kr)~! Feel free to contact us(hmokoo@uos.ac.kr)~!Feel free to contact us(hmokoo@uos.ac.kr)~!Feel free to contact us(hmokoo@uos.ac.kr)~!Feel free to contact us(hmokoo@uos.ac.kr)~!
      .contact-content__button-container
        a.contact-content__button(href="./contact").font-bold CONTACT US