extends ../layouts/default.pug

block content
  //- 상단 이미지
  include ../mixin/sub_hero.pug
  +sub_hero('Publication')

  //- 서브 메뉴
  include ../mixin/sub_menu.pug
  +sub_menu([
    {name: 'Journal', href: './publication_international_journal'}, 
    {name: 'Patent', href: './publication_patent', isSelected: true}, 
    {name: 'Book', href: './publication_book'}])
  
  //- 본문
  main
    section.publication-container
      h1.title Patent
      include ../mixin/tag.pug
      +tag(['All', '2020~', '~2019'])
