extends ../layouts/default.pug

block content
  //- 상단 이미지
  include ../mixin/sub_hero.pug
  +sub_hero('Research')

  //- 본문
  main
    section.research-container
      include ../mixin/tag.pug
      +tag(['Research 1', 'Research 2', 'Research 3'])
      .research__list-container(research-tag='Research 1')
        h2.title
          | SAAR: 
          br
          | Spatial Analysis using ArcGIS engine and R
        ul.research__list-objectives
          li.research__list-objective
            | References: 
            a(href="https://onlinelibrary.wiley.com/doi/abs/10.1111/tgis.12452" target="_blank" style="text-decoration: underline;") Koo et al. 2018
          li.research__list-objective
            | 설명설명
          li.research__list-objective
            | 설명설명
          li.research__list-objective
            | 설명설명
        .research__list-image-container
          img.research__list-image(src="./images/research_1.png", alt="research_1")
        .research__list-description-container
          p.research__list-description
            | "~~ 개발", ~~ 프로젝트 (주관기관), 언제부터 ~ 언제까지, 연구책임자
          p.research__list-description
            | "~~ 개발", ~~ 프로젝트 (주관기관), 언제부터 ~ 언제까지, 연구책임자
            
      
      .research__list-container(research-tag='Research 2')
        h2.title
          | Cross-Space-Time Relative Risk Function
        ul.research__list-objectives
          li.research__list-objective
            | Reference: 
            a(href="https://www.tandfonline.com/doi/abs/10.1080/15230406.2019.1641149" target="_blank" style="text-decoration: underline;") Koo et al. 2020           
          li.research__list-objective
            | 설명설명
          li.research__list-objective
            | 설명설명
          li.research__list-objective
            | 설명설명
        .research__list-image-container
          img.research__list-image(src="./images/research_2.png", alt="research_2")
        .research__list-description-container
          p.research__list-description
            | "~~ 개발", ~~ 프로젝트 (주관기관), 언제부터 ~ 언제까지, 연구책임자
  
      .research__list-container(research-tag='Research 3')
        h2.title
          | Optimal Map classification with uncertainty information
        ul.research__list-objectives
          li.research__list-objective
            | ArcGIS Tool: compatiable with ArcGIS 10.x
          li.research__list-objective
            | Reference: 
            a(href="http://www.tandfonline.com/doi/abs/10.1080/24694452.2016.1261688" target="_blank" style="text-decoration: underline;") Koo et al. 2017
          li.research__list-objective
            | 설명설명
          li.research__list-objective
            | 설명설명
        .research__list-image-container
          img.research__list-image(src="./images/research_3.png", alt="research_3")
        .research__list-description-container
          p.research__list-description
            | "~~ 개발", ~~ 프로젝트 (주관기관), 언제부터 ~ 언제까지, 연구책임자
          p.research__list-description
            | "~~ 개발", ~~ 프로젝트 (주관기관), 언제부터 ~ 언제까지, 연구책임자
        