footer.footer {
  width: 100%;
  color: #abb1ba;
  background-color: $darkgrey-color;
  padding: 2.3em 0;
  .footer-content {
    position: relative;
    max-width: 1156px; /* Set your desired max-width value */
    margin-left: auto;
    margin-right: auto;
    // 모바일 미디어쿼리
    @media screen and (max-width: 1280px) {
      margin: 0 2em;
    }
    .footer-title {
      font-size: 1.3em;
      margin-bottom: 1em;
    }
    .footer-contact-list {
      margin-bottom: 3em;
      li {
        margin-bottom: 0.3em;
      }
    }
    .footer-bottom {
      .footer-bottom-text {
        a {
          color: white;
        }
      }
    }
  }
}
