.tag-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .tag__item {
      background-color: #f1f0f5;
      padding: 1em 1.5em;
      border-radius: 30px;
      cursor: pointer;
      &.selected {
        background: #2d2a56;
        color: white;
      }
    }
  }
}
