footer.footer
  .footer-content
    h3.footer-title.font-bold Locations
    ul.footer-contact-list.font-light
      li
        span.font-bold Professor's Office: 
        | 163 Seoulsiripdaero #15-516, Dongdaemun-Gu, Seoul, Korea 02504
      li
        span.font-bold The Lab for Spatial Data Science: 
        | 163 Seoulsiripdaero #15-609, Dongdaemun-Gu, Seoul, Korea 02504
      li

    //- .footer-bottom
    //-   p.footer-bottom-text
    //-     | &copy; Copyright 2023 Next-generation Energy and Environmental Devices Laboratory. Designed and developed by 
    //-     a(href="https://github.com/JangDongHo" target='_blank') Dongho Jang.