doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title LSDS | 서울시립대학교 공간데이터과학 연구실
  body
    include ../components/header.pug

    block content

    include ../components/footer.pug

    script(src="https://kit.fontawesome.com/b7f69e0a07.js", crossorigin="anonymous")