mixin sub_hero(title)
  section.sub-hero-container
      img.sub-hero-image(src="./images/representative_image.jpg", alt="커다란 이미지")
      .sub-hero-text
        .sub-hero-text__main.font-black= title
        .sub-hero-text__sub The Lab for Spatial Data Science